<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        * {
            font-family: "monospace";
        }
    </style>
    <title>MC Server Download</title>
</head>
<body>
    <h1>Alte Server Downloads</h1>
    <h4>Gab glaube nicht mal 5 Server, aber scheiß drauf, hier könnt ihr alle herunterladen</h3>
    <ul>
    {% for server in servers %}
        <li><a href="{{server['file']}}">Server{{server['id']}} // {{server['size']}} // {{server['date']}} // {{server['name']}}</a></li>
    {% endfor %}
    </ul>
</body>
</html>