<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="icon" href="{{url_for('static',filename='bbs-logo.jpg')}}">
    <title>BBS Movie Studio</title>
</head>
<body>
    <header>
        <div class="header-container">
            <button class="menu-toggle" id="menuToggle">☰</button>
            <div class="nav-left">
                <div class="logo-section">
                    <img src="{{url_for('static',filename='bbs-logo.jpg')}}" alt="Logo" class="logo-img">
                    <div class="project-title">BBS Movie Studio</div>
                </div>
            </div>
            <div class="nav-right">
                <div class="logo-section">
                    <img src="{{url_for('static',filename='profile.jpg')}}" alt="Logo" class="logo-img">
                    <div class="brand-text">
                        <div class="brand-name">EmilSleeper</div>
                        <div class="brand-subtitle">Emil Wege</div>
                    </div>
                </div>
                <ul>
                    <li><a href="https://emilsleeper.com/">Go Back</a></li>
                </ul>
            </div>
        </div>
    </header>
    <div class="info" style="background-image: url('{{url_for('static',filename='bbs1.jpeg')}}'); background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="left">
            <p class="title">BBS Movie Studio</p>
            {% for loader in compatibility %}
            <p class="version">{{loader.capitalize()}}: {{', '.join(compatibility[loader])}}</p>
            {% endfor %}
            <p class="description">BBS Movie Studio is a compact film modpack centered around the BBS mod by McHorse, with which you can create complex scenes, animations, and complete films in Minecraft. Thanks to Blockbench model support, finely adjustable movements, and numerous pre-made BBS assets, you can recreate almost any scene and animate it precisely.</p>
            <div class="download">
                <a href="https://modrinth.com/mod/smooth-gamemode-switcher" target="_blank" rel="noopener noreferrer" style="background: linear-gradient(to bottom, #1bd96b, #107f3e);">
                    <img src="{{url_for('static',filename='modrinth.webp')}}" alt="Modrinth" style="filter: brightness(0%) invert(100%);">
                    <p>Modrinth Download</p>
                </a>
                <a href="https://www.curseforge.com/minecraft/mc-mods/smooth-gamemode-switcher" target="_blank" rel="noopener noreferrer" style="background: linear-gradient(to bottom, #ff4400, #5e220a);">
                    <img src="{{url_for('static',filename='curseforge.webp')}}" alt="CurseForge" style="filter: brightness(0%) invert(100%);">
                    <p>CurseForge Download</p>
                </a>
            </div>
        </div>
        <div class="right">
            <img src="{{url_for('static',filename='bbs-logo.jpg')}}" alt="">
        </div>
    </div>
    <div class="gallery">
        <img src="{{url_for('static',filename='bbs1.jpeg')}}" alt="Gallery Image">
        <img src="{{url_for('static',filename='bbs2.jpeg')}}" alt="Gallery Image">
        <img src="{{url_for('static',filename='bbs3.jpeg')}}" alt="Gallery Image">
    </div>
    <footer>
        <p class="footer">{{ footer }}</p>
    </footer>
    <script src="{{ url_for('static', filename='image-modal.js') }}"></script>
</body>
</html> 