<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>Stadtführer Görlitz</title>
</head>
<body>
    <div class="l">
        <h1>Stadtführer Görlitz</h1>
        <p>Eine simple Stadtführerapp für die Stadt Görlitz.</p>
        <a href="https://stadt.emilsleeper.com">stadt.emilsleeper.com</a>
    </div>
    <div class="r">
        <img src="https://raw.githubusercontent.com/DiscordDevelopment/.github/main/assets/banner-dsc-dev%20transparent.png" alt="Image not available anymore.">
        <p>Eine Developergruppe, von Emil ins Leben gerufen. Arbeit an Discord Bots und Inhalten für Train Sim World 4.</p>
        <a href="https://ddev.emilsleeper.com">ddev.emilsleeper.com</a>
    </div>
</body>
</html>